$main-color: #481173;
$product-name-color: #999;
$price-color: #242424;
$sale-color: #cb11ab;
$text-color: #fff;

p, h1, h2, h3, h4, h5, h6, span, li, table, div {
    font-family: 'Roboto', sans-serif;
}